@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}

.navbar-item-hover {
  position: relative; /* Required for positioning the ::after pseudo-element */
}

.navbar-item-hover::after {
  content: '';
  position: absolute;
  bottom: 0; /* Position at the bottom of the element */
  left: 0; /* Align to the left side of the element */
  height: 100%; /* Make the underline fill the height of the parent element */
  width: 50px; /* Initial width of the line */
  background: #161d6f; /* Color of the line */
  transition: width 0.3s ease; /* Smooth transition for the width change */
  border-radius: 50px; /* Rounded corners on the line */
  z-index: -1;
}

.navbar-item-hover:hover::after {
  width: 100%; /* Expand the width to 100% when the item is hovered */
}
